.member-selector {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-bottom: 10px;

    .team-select {
        width: 120px;
    }

    .member-select {
        width: 200px;
    }

    .member-select-multiple {
        width: auto;
        min-width: 200px;
    }
}